<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickers</title>
</head>
<body>
<h3>Bitcoin: {{btc}}</h3>
<h3>Ethereum: {{eth}}</h3>
<h3>Litecoin: {{ltc}}</h3>
<h3>Icon: {{icx}}</h3>
<h3>RaiBlocks: {{xrb}}</h3>
<h3>Vechain: {{ven}}</h3>
<h3>DeepBrainChain: {{dbc}}</h3>
<h3>OysterPearl: {{prl}}</h3>
<h3>Binance Coin: {{bnb}}</h3>
<h3>Iota: {{iota}}</h3>
<h3>Ripple: {{xrp}}</h3>
<h3>RequestNetwork: {{req}}</h3>
<br>
<br>
<h2>Total Value: {{valuetotal}}</h2>
<h2>Total Profit: {{profittotal}}</h2>
</body>
</html>
